body {
  background: #23252a;
}

header {
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

h1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
  font-size: 64px;
  font-weight: 900;
}
h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 200;
}

form.form-control {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

video {
  margin-top: 25px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.container {
  max-width: 700px;
}

.video-wrapper {
  position: relative;
  max-width: 676px;
  height: 350px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100%;
}

.switch:checked {
  background-color: black;
  border-color: black;
}
